body {
    margin: 0;

}

article {
    padding: 10px;
    margin: 10px;
    background-color: blue;
    width: 30%;
    border-radius: 5%;
    height: 15rem;
    
}

p{
    color: white;
}

section {
    display: flex;
    flex-wrap: row wrap;
}